body {
  font-family: 'Poiret One', cursive;
}

#splashback {
   background-image: url("https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fth03.deviantart.net%2Ffs70%2FPRE%2Fi%2F2012%2F267%2F6%2F8%2Fminecraft___herobrine_by_johntuley-d5fnkys.png&f=1");
  background-size: cover;
}

#gameback {
  background-color: black
}

h1 {
  text-align: center;     
  color: #fff;
}

.titleText {
  margin: 25% auto;
  margin-top: 10%;
}

.startButton {
  font-size: 5em;
   margin-left: 37%;
  text-decoration: none;
  color: black;
  background: red;
  padding: 10px 40px;
}

#hero {
  -webkit-animation: mymove 2s infinite; /* Chrome, Safari, Opera */
    animation: mymove 2s infinite;
  background-image: url("http://s23.postimg.org/f05htkunv/Herobrine_Pose.png");
  background-size: cover;
  width: 180px;
  height: 180px;
  position: absolute;
  top: 20px;
  left: 900px;
}

#hero2 {
  -webkit-animation: mymove 1.8s infinite;
  animation: mymove 1.80s infinite;
  background-image: url("http://img09.deviantart.net/75ff/i/2015/137/5/2/steve_3d_fan_art_by_kt02darksketcher-d8tskph.png");
  background-size: cover;
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#dropthingy1 {
  background-image: url("http://icon.softwares7.com/32x32/6/149/1324459.9c81788c6cbf7822d5c851fba705d017.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  opacity: 0;
  left: 0;
  -webkit-animation: mymove 0.80s infinite;
  animation: mymove 0.80s infinite;
  transition: top 2s ease;
}

#dropthingyg {
  background-image: url("http://icon.softwares7.com/32x32/6/149/1324459.9c81788c6cbf7822d5c851fba705d017.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  opacity: 0;
  left: 10%;
  -webkit-animation: mymove 0.80s infinite;
  animation: mymove 0.80s infinite;
  transition: top 2s ease;
}

#dropthingyy {
  background-image: url("http://icon.softwares7.com/32x32/6/149/1324459.9c81788c6cbf7822d5c851fba705d017.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  opacity: 0;
  left: 22%;
  -webkit-animation: mymove 0.80s infinite;
  animation: mymove 0.80s infinite;
  transition: top 2s ease;
}


#dropthingy8 {
  background-image: url("http://icon.softwares7.com/32x32/6/149/1324459.9c81788c6cbf7822d5c851fba705d017.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  opacity: 0;
  left: 6%;
  -webkit-animation: mymove 0.80s infinite;
  animation: mymove 0.80s infinite;
  transition: top 2s ease;
}

#dropthingyh {
  background-image: url("http://icon.softwares7.com/32x32/6/149/1324459.9c81788c6cbf7822d5c851fba705d017.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  opacity: 0;
  left: 91%;
  -webkit-animation: mymove 0.80s infinite;
  animation: mymove 0.80s infinite;
  transition: top 2s ease;
}

.newclass {
  animation: none !important;
  -webkit-animation: none !important;
  top: 500px !important;
  opacity: 1 !important;
  display: block;
  transition: all 1s ease;
}

@keyframes mymove {
    0% {left: 0px;}
    50% {left: 500px;}
    100% {left: 0px;}
}