body {
  font-family: 'Poiret One', cursive;
}

#splashback {
   background-image: url("https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fth03.deviantart.net%2Ffs70%2FPRE%2Fi%2F2012%2F267%2F6%2F8%2Fminecraft___herobrine_by_johntuley-d5fnkys.png&f=1");
  background-size: cover;
}

#gameback {
  background-color: black
}

h1 {
  text-align: center;     
  color: #fff;
}

.titleText {
  margin: 25% auto;
  margin-top: 10%;
}

.startButton {
  font-size: 5em;
   margin-left: 37%;
  text-decoration: none;
  color: black;
  background: red;
  padding: 10px 40px;
}

#hero {
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTFmGVaO8uBlzs54SdCQQDKN9F__NA4SD7fy2KI0TZRHTT6Wemj7A");
  background-size: cover;
  width: 180px;
  height: 180px;
  position: absolute;
  top: 20px;
  left: 900px;
}

#hero2 {
  background-image: url("http://piq.codeus.net/static/media/userpics/piq_82344_400x400.png");
  background-size: cover;
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}