body{
   background-image: url("https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fth03.deviantart.net%2Ffs70%2FPRE%2Fi%2F2012%2F267%2F6%2F8%2Fminecraft___herobrine_by_johntuley-d5fnkys.png&f=1");
  background-size: cover;
  font-family: 'Poiret One', cursive;
}

h1 {
  text-align: center;     
  color: #fff;
}

.titleText {
  margin: 25% auto;
  margin-top: 10%;
}

.startButton {
  font-size: 5em;
   margin-left: 37%;
  text-decoration: none;
  color: black;
  background: red;
  padding: 10px 40px;
}

#hero {
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTFmGVaO8uBlzs54SdCQQDKN9F__NA4SD7fy2KI0TZRHTT6Wemj7A");
  background-size: cover;
  width: 180px;
  height: 180px;
}

#hero2 {
  background-image: url("https://www.google.com.hk/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwilweOthsfKAhUKnJQKHRZdA5UQjRwIBw&url=http%3A%2F%2Fwww.fps-x-games.com%2F2013_06_01_archive.html&psig=AFQjCNFEsduW1b0PYUjBrNC_9C7hThmT3Q&ust=1453882972948396  ");
  background-size: cover;
  width: 180px;
  height: 180px;
}